.body{
    font-family: Helvetica;
    font-weight: 100;
}

.product{
    width: 900px;
    height: 600px;
    margin: auto;
}
.big-box{
    height: 100%;
    width: 66.66%;
}
.big-box img{
    height: 100%;
    width: 100%;
}
.small-box-a, .small-box-b{
    height: 50%;
    width: 33.33%;
    position: relative;
}
.small-box-a p, .small-box-b h1{
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product:nth-child(2n) .big-box,
.product:nth-child(2n) .small-box-a,
.product:nth-child(2n) .small-box-b {
    float: left;
}
.product:nth-child(2n+1) .big-box,
.product:nth-child(2n+1) .small-box-a,
.product:nth-child(2n+1) .small-box-b {
    float: right;
}

.small-box-a {
    background-color: aqua;
}
.small-box-b{
    background-color: azure;
}
